# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs / pytest
*.log
.pytest_cache/
.coverage
htmlcov/

# OS
Thumbs.db
